$color: #0cf;
.modal-launch-button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: all 0.3s;
    box-shadow: #888 4px 4px 8px;

    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        border-radius: 25px;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($color, 15%);
        transition: all 0.3s;
        border-radius: 25px;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}

.modal-launch-button-container {
    position: fixed;
    display: inline-block;
    width: auto;
    height: auto;
    bottom: 80px;
    left: 40px;
}

[data-tooltip]:before {
    /* needed - do not touch */
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;

    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #888;
}

[data-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;

    /* customizable */
    background: #0cf;
    margin-top: -120px;
    margin-left: 20px;
}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}
