<ng-template #content let-modal>
    <div class="modal-chat">
      <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>  
    </div>            
  </ng-template>

<div class="modal-launch-button-container">
    <div data-tooltip="click here to send me a message!">
        <a class="modal-launch-button" (click)="openFormModal(content)">
            <img src="../../assets/icons/chat.png" />
        </a>
    </div>
</div>
